<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t("menu.admin_accountability", scope: "decidim.admin", default: "Admin accountability") %></h2>
  </div>

  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
        <tr>
          <th>
            <%= t("role", scope: "decidim.decidim_awesome.admin.admin_accountability") %></th>
          </th>
          <th>
            <%= t("name", scope: "decidim.decidim_awesome.admin.admin_accountability") %></th>
          </th>
          <th>
            <%= t("email", scope: "decidim.decidim_awesome.admin.admin_accountability") %></th>
          </th>
          <th>
            <%= t("participatory_space", scope: "decidim.decidim_awesome.admin.admin_accountability") %></th>
          </th>
          <th>
            <%= t("last_login", scope: "decidim.decidim_awesome.admin.admin_accountability") %></th>
          </th>
          <th>
            <%= t("created_at", scope: "decidim.decidim_awesome.admin.admin_accountability") %></th>
          </th>
          <th>
            <%= t("removal_date", scope: "decidim.decidim_awesome.admin.admin_accountability") %></th>
          </th>
        </tr>
        </thead>
        <tbody>
        <% @user_logs.each do |log| %>
          <tr>
            <td><%= log.resource.role %></td>
            <td><%= log.resource.user.name %></td>
            <td><%= log.resource.user.email%></td>
            <td><%= log.participatory_space_type %></td>
            <td><%= log.resource.user.last_sign_in_at %></td>
            <td><%= log.created_at if log.action == "create" %></td>
            <td><%= log.action == "delete" ? log.created_at : t("currently_active", scope: "decidim.decidim_awesome.admin.admin_accountability") %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
