<div id="vote-container" data-proposal-id="<%= proposal.id %>">
  <div class="vote-block">
    <p class="vote-count" data-id="<%= proposal.id %>" data-weight="<%= weight %>"><%= proposal_votes(weight) %></p>
    <p class="vote-label weight_<%= weight %>"><%= proposal.manifest.label_for(weight) %></p>
    <%= action_authorized_link_to :vote,
                                  proposal_vote_path(weight),
                                  resource: proposal,
                                  remote: true,
                                  data: { label: proposal.manifest.label_for(weight), weight: weight },
                                  method: :post,
                                  class: "vote-action rectangle voting-block weight_#{weight} #{opacity_class_for(weight)} #{'voted' if voted_for?(weight)}" do %>
      <%= icon "thumb-up" %>
    <% end %>
  </div>
</div>
